        body::-webkit-scrollbar {
            display: none;
        }
        /* Hide scrollbar for IE and Edge */
        
        body {
            background-color: black;
            -ms-overflow-style: none;
        }
        /*Nav bar start*/
        
        .navbar-custom {
            padding-bottom: 1rem;
            background-color: rgb(0, 0, 0);
        }
        
        .navbar-custom .navbar-brand {
            text-transform: uppercase;
            font-size: 1rem;
            letter-spacing: .1rem;
            font-weight: 700
        }
        
        .navbar-custom .navbar-nav .nav-item .nav-link {
            text-transform: uppercase;
            font-size: .8rem;
            font-weight: 700;
            letter-spacing: .1rem
        }
        
        a {
            text-decoration: none;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
        }
        
        .glow2 {
            color: #FFDD1B;
        }
        
        .glow2:hover {
            -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
            -moz-animation: neon3 1.5s ease-in-out infinite alternate;
            animation: neon3 1.5s ease-in-out infinite alternate;
        }
        
        a:hover {
            color: #ffffff;
        }
        
        @-webkit-keyframes neon3 {
            from {
                text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
            }
            to {
                text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
            }
        }
        /*Nav bar end*/
        
        p {
            text-align: left;
            color: white;
        }
        
        a {
            text-decoration: none;
        }
        
        button {
            border-radius: 20px;
            cursor: pointer;
        }
        
        button:focus {
            outline: 0;
        }
        
        .movie-card {
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            max-width: 800px;
            height: 100%;
            min-height: 400px;
            display: block;
            margin: 15vh auto;
            border-radius: 8px;
            box-shadow: 0px 8px 12px 0px rgb(0, 0, 0);
            position: relative;
        }
        
        @media screen and (max-width: 600px) {
            p {
                text-align: center;
                padding: 12px;
            }
            .movie-card {
                background-position: 50% 0%;
                background-size: cover;
                width: 90vw;
                height: 85vh;
                text-align: center;
            }
        }
        /*
            .movie-card[data-movie="Concert night"] {
                background-image: url("../Proshows/img/concert.JPG");
            }
            
            .movie-card[data-movie="T-awards"] {
                background-image: url("../Proshows/img/t_awards.jpg");
            }
            
            .movie-card[data-movie="Choreo night"] {
                background-image: url("../Proshows/img/choreo.JPG");
            }
            */
        
        .movie-card__overlay {
            width: 100%;
            height: 100%;
            border-radius: 8px;
            background: -webkit-gradient(linear, left top, right top, from(rgba(42, 159, 255, 0.2)), color-stop(60%, #212120), to(#212120));
            background: linear-gradient(to right, rgba(42, 159, 255, 0.2) 0%, #212120 60%, #212120 100%);
            background-blend-mode: multiply;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
        
        @media screen and (max-width: 600px) {
            .movie-card__overlay {
                text-align: center;
                background: -webkit-gradient(linear, left top, left bottom, from(rgba(42, 159, 255, 0.2)), color-stop(60%, #212120), to(#212120));
                background: linear-gradient(to bottom, rgba(42, 159, 255, 0.2) 0%, #212120 60%, #212120 100%);
            }
        }
        
        .movie-card__icon {
            color: #ffffff;
            mix-blend-mode: lighten;
            opacity: .4;
            background: none;
            padding: 0;
        }
        
        .movie-card__icon:hover {
            opacity: 1;
            mix-blend-mode: lighten;
        }
        
        .movie-card__icon:not(:first-of-type) {
            margin-left: 5px;
        }
        
        .movie-card__icon i {
            font-size: 1.2em;
        }
        
        .movie-card__content {
            width: 100%;
            max-width: 370px;
            display: -webkit-box;
            display: flex;
            -webkit-box-align: start;
            align-items: flex-start;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            position: relative;
            float: right;
            padding-right: 1.2em;
            padding-bottom: 1em;
        }
        
        @media screen and (max-width: 600px) {
            .movie-card__content {
                width: 90vw;
                height: 85vh;
                padding: 12px;
                position: absolute;
                bottom: 10px;
            }
        }
        
        .movie-card__header {
            margin-bottom: 2em;
        }
        
        .movie-card__title {
            font-weight: 700;
            color: #ffffff;
            margin-bottom: .25em;
            opacity: .75;
        }
        
        .movie-card__info {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 1em;
            color: #2a9fff;
            line-height: 1;
            margin: 0;
            font-weight: 700;
            opacity: .75;
        }
        
        .movie-card__desc {
            font-weight: 300;
            opacity: .84;
            margin-bottom: 2em;
        }
        
        h1,
        h2,
        h3 {
            margin-top: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
            line-height: 1;
            font-weight: 400;
        }
        
        .btn {
            padding: .5rem 2rem;
            color: #dddb72;
            font-weight: bold;
            overflow: hidden;
        }
        
        .btn-outline {
            background-color: transparent;
            border: 3px solid #ffffff;
        }
        
        .btn-outline:hover {
            border-color: #2a9fff;
            color: #2a9fff;
            box-shadow: 0px 1px 8px 0px rgba(245, 199, 0, 0.2);
        }
        
        .concert_night {
            background-image: url('../img/concert.JPG');
        }
        
        .choreo {
            background-image: url('../img/choreo.JPG');
        }
        
        .t_awards {
            background-image: url('../img/t_awards.jpg');
        }
        
        @media screen and (max-width: 600px) {
            .btn {
                font-weight: bolder;
                width: inherit;
                position: absolute;
                bottom: 0px;
                margin: 0 auto;
                padding: 13px;
            }
            .btn-outline {
                background-color: transparent;
                border: 0px solid #ffffff;
            }
            .movie-card__desc {
                position: absolute;
                bottom: 13px;
            }
            .movie-card__title {
                font-weight: 900;
                padding: 10px;
                width: inherit;
                text-align: center;
            }
            .t_awards_title {
                padding: 10px;
                width: 90vw;
                text-align: center;
            }
            .btn-outline:hover {
                border-color: #2a9fff;
                color: #2a9fff;
                box-shadow: 0px 1px 8px 0px rgba(245, 199, 0, 0.2);
            }
            .concert_night {
                background-image: url('../img/potrait/C02.jpg');
            }
            .choreo {
                background-image: url('../img/potrait/dance6.jpg');
            }
            .t_awards {
                background-image: url('../img/potrait/t_awards.JPG');
            }
            /*
            .proshows_heading {
                margin-top: 40vh;
                font-size: 40px;
            }
            */
        }
        /*
            .proshows_heading {
                -webkit-touch-callout: none;
               
            
            -webkit-user-select: none;
            
            
            -khtml-user-select: none;
            
            
            -moz-user-select: none;
            
            
            -ms-user-select: none;
           
            
            user-select: none;
            margin-top: 14vh;
            font-size: 60px;
            font-weight: bolder;
           
            
            text-shadow: 0 0 5px #fbd62a,
            0 0 15px #fbd62a,
            0 0 20px #fbd62a,
            0 0 40px #fbd62a,
            0 0 60px #ff0000,
            0 0 10px #fbd62a,
            0 0 98px #ff0000;
            color: white;
            text-align: center;
            animation: blink 12s infinite;
            -webkit-animation: blink 12s infinite;
        }
        @-webkit-keyframes blink {
            20%,
            24%,
            55% {
                color: #111;
                text-shadow: none;
            }
            
            0%,
            19%,
            21%,
            23%,
            25%,
            54%,
            56%,
            100% {
                text-shadow: 0 0 5px #fbd62a, 0 0 15px #fbd62a, 0 0 20px #fbd62a, 0 0 40px #fbd62a, 0 0 60px #ff0000, 0 0 10px #fbd62a, 0 0 98px #ff0000;
                color: white;
            }
        }
        @keyframes blink {
            20%,
            24%,
            55% {
                color: #111;
                text-shadow: none;
            }
            
            0%,
            19%,
            21%,
            23%,
            25%,
            54%,
            56%,
            100% {
                text-shadow: 0 0 5px #fbd62a, 0 0 15px #fbd62a, 0 0 20px #fbd62a, 0 0 40px #fbd62a, 0 0 60px #ff0000, 0 0 10px #fbd62a, 0 0 98px #ff0000;
                color: white;
            }
        }
        */
        
        @media (max-width:800px) {
            .logo a {
                font-size: 60px;
            }
        }